@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/*navigation bar*/
nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;  
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.5rem;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.3rem 1rem;
    font-size: 15px;
}

nav ul li a:hover {
    color: black;
    background-color: #ffffff;
    padding: 0.3rem 1rem;
    border-radius: 20px;   
}

nav .log {
    background-color: green;
    padding: 0.3rem 1rem;
    border-radius: 20px;
}

nav input {
    border-radius: 20px;
    width: 250px;
    height: 30px;
    padding-left: 20px;
    border-style: none;
}

nav button {
    border-radius: 20px;
    width: 70px;
    height: 30px;
    background-color: rgb(131, 129, 129);
    border-style: initial;
}

nav .active {
    background-color: yellow;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
}

nav .active a {
    color: black;
}

/*About Section*/
.about{
    background-image: url(images/43060.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 830px;
}

.about .text {
    color: #ffffff;
    padding-top: 12%;
    padding-left: 3%;
    position: initial;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 25px;
    color: rgb(180, 206, 223);
}

.about h3 {
    padding-bottom: 50px;
    line-height: 40px;
    color: rgb(201, 199, 199);
}

.about .button {
    background-color: rgb(250, 249, 249);
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-size: 30px;
    padding: 0.1rem 1.2rem;
    margin-top: 15px;
    background-color: rgb(153, 53, 246);
}

/*popular collection section*/
.pop {
    background-color: rgb(229, 232, 188);  
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, bottom;
} 

.pop h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.line1, .line2 {
    padding: 7rem 8rem;
}

.line1 ul, .line2 ul {
    display: flex;
    flex-direction: row;
    gap: 10rem;

}

.pop img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow-x:inherit;
}

.pop .item {
    overflow-x: scroll;
}

.jfy {
    background-color: rgb(173, 146, 210);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, bottom;
}

.jfy h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 60px;
    color: #000000;
}

.small {
    width: 320px;
    box-shadow: 0px 0px 30px 2px;
    margin: 15px;
    border-radius: 5px;
    display: inline-block;
    background-color: #e6e5e5;
}

.small img {
    height: 250px;
    width: 320px;
}

.small button {
    margin-left: 35%;
    margin-bottom: 20px;
    background-color: green;
    border-style: initial;
    width: 100px;
    height: 35px;
    box-shadow: 0px 0px 5px 0.5px;

}

.small li {
    list-style: none;
    display:inline-block;
    margin: 10px;
}

.small h2 {
    margin: 10px;
}

.small p {
    margin: 10px;
    text-align:justify;
}

.checked {
    color: orange;
  }

.rate {
    margin: 10px;
}

.fhead {
    text-align: center;
    margin: 40px;
}

.fbody {
    background-color: #d3d3d3;
    padding-left: 40px;
    position: absolute;
    width: 100%;
}

.footer {
    position: absolute;
    width: 100%;
}

.footer h4 {
    position:absolute;
    top:300px;
    left: 46%;
}

.vr {
    position: absolute;
    border-left: 2px solid rgb(4, 4, 4);
    height: 150px;
    left: 50%;
    top: 10px;
    margin-left: -3px;
}

.fbody h2 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.fbody ul li{
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 40px;
}

.fbody ul li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
